body,html{
  height:100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.fr {
  float: right;
}

.logkit-container {
  padding-top: 2%;
  margin: auto;
  width: 90%
}

.logkit-container .index-btn {
  width:300px;
  margin-right: 50px;
  margin-bottom: 8px;
}

.header {
  width: 100%;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-size: 24px;
  margin-bottom: 20px;
}

.header a {
  margin-left: 1px;
  font-size: 16px;
  color: #fff;
}

.header img {
  float: left;
  height: 35px;
  margin: 15px 0px 0px 15px;
}

.steps-content {
  border-radius: 0px 0px 6px 6px;
  text-align: center;
  height: 90%;
  overflow: scroll;
}

.steps-action {
  margin-top: 24px;
  text-align: center;
}

.logkit-create-container {
  padding-top: 2%;
  margin: auto;
  width: 90%;
  height: 78%;
}

.hide-div {
  display: none;
}

.show-div {
  display: block;
}

.info {
  margin: auto;
  color: #f04134;
  font-size: 18px;
  padding: 20px;
}

.logkit-header {
  background: #108ee9;
  padding: 10px 20px 10px 20px;
  border-radius: 0px 0px 0px 0px;
  position: fixed;
  width: 90%;
  z-index: 999;
}

.logkit-body {
  padding-top: 55px;
}

.logkit-title {
  float: left;
  color: #fff;
}

.btn-config {
  margin-right: 10px;
}

.logkit-tip {
  line-height: 35px;
  color: #fff;
}

.ant-steps {
  margin-bottom: 40px;
}

.warningTip {
  /* color: #ffbf00; */
}

.ant-form-item-label label {
  color: rgb(0, 0, 0);
}
.hide {
  display: none;
}

.inline {
  display: inline-block;
}

.fields.key {
  width: 220px;
}

.fields.value {
  width: 220px;
  margin-left: 20px;
}
.dynamic-delete-button {
  cursor: pointer;
  position: relative;
  top: 4px;
  font-size: 18px;
  color: #108ee9;
  transition: all .3s;
  margin-left: 8px;
}

.transformer-tag {
  font-size: 16px;
  color: black !important;
  background: #f5f7fa !important;
  width: 350px;
  height: 58px;
  border: none;
  text-overflow: ellipsis;
  overflow: hidden;
  pointer-events: none;
}

.transformer-tag-container {
  position: relative;
  font-size: 16px;
  color: black !important;
  background: #f5f7fa !important;
  width: 500px;
  height: 60px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
}

.dynamic-delete-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.logo {
  height: 32px;
  background: #333;
  border-radius: 6px;
  margin: 16px;
}

.logo img {
  float: left;
  height: 35px;
}

.ant-input-number-lg {
  width: 100% !important;
}

.option-add label:after{
  display: none;
}

.option-add .option-add-btn{
  text-align: left;
}

.option-add-tag-btn {
  width: 80px;
  margin-bottom: 20px;
  margin-top: 10px;
  border-color: #bfd8f7;
  color: #108ee9;
  background-color: #f1f7fe;
}

.ant-form-item-label{
    text-overflow:initial;
    white-space: normal;
    margin-right: 25px;
    line-height: 1.4;
}

.ant-form-item-label label:after {
  content: ''
}

.ant-form-item {
  margin-bottom: 30px;
}

.render-tag-container {
  padding-top: 20px;
}

.ant-divider {
  background: #e9e9e9;
}

.ant-divider-horizontal {
  display: block;
  height: 1px;
  width: 80%;
  margin: 24px auto 35px auto;
}

.ant-divider-inner-text {
    display: inline-block;
    padding: 0 24px;
}

.ant-divider-with-text {
  display: table;
  white-space: nowrap;
  text-align: center;
  background: transparent;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  margin: 26px auto;
}

.ant-divider-with-text::before, .ant-divider-with-text::after {
  content: '';
  display: table-cell;
  position: relative;
  top: 50%;
  width: 50%;
  border-top: 1px dashed #e8e8e8;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
}

.certain-category-icon {
  color: #6E6E6E;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  font-size: 16px;
}

.delete_enable .ant-form-item-control-wrapper {
  text-align: left;
}

.delete_enable .ant-form-item-control {
  line-height: 18px;
}

.delete-enable-input-number input {
  width: 40% !important;
  margin-right: 10px;
}

.delete-enable-input-number .ant-form-item-control-wrapper {
  text-align: left;
}

.save-as-form {
  width: 350px;
}

.save-as-form input {
  width: 80%;
  margin-left: 20px;
}

.save-as-form-item {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.save-as-form-item label:after {
  content: "*";
  color: #f04134;
}

.save-as-form-item button {
  margin-left: 20px;
}

.error-border {
  border: 1px solid #f04134;
}
